{# Note: globals are not seen here unless imported with 'with context' #}

{% macro render_field(field, label_visible=true, form_group=true) -%}

<div class="{% if form_group %}form-group{% endif %} {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
  {% if field.type != 'HiddenField' and label_visible %}
    {{ field.label(class="control-label col-sm-2") }}
  {% endif %}
  <div class="col-sm-10">
  {% if field.type == 'DateField' %}
    {# We have javascript activating on datepicker class #}
    {{ field(class_="form-control datepicker", **kwargs) }}
  {% else %}
    {{ field(class_="form-control", **kwargs) }}
  {% endif %}
  {% if field.errors %}
    {% for e in field.errors %}
      <p class="help-block">{{ e }}</p>
    {% endfor %}
  {% endif %}
  </div>
</div>
{%- endmacro %}


{% macro render_field_nolabel(field, label_visible=true, form_group=true) -%}
<div class="col-sm-10 col-sm-offset-2">
<div class="{% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
  {{ field(class_='form-control', **kwargs) }}
  {% if field.errors %}
    {% for e in field.errors %}
      <p class="help-block">{{ e }}</p>
    {% endfor %}
  {% endif %}
</div>
</div>
{%- endmacro %}


{% macro render_payed(is_payed) -%}
  {% if not is_payed %}
    <span class="label label-warning">To pay</span>
  {% else %}
    <span class="label label-success">Payed</span>
  {% endif %}
{%- endmacro %}
