{% from "_macros.html" import render_field, render_field_nolabel, render_payed %}

{% extends "base.html" %}

{% set active_page = "my_orders" %}

{% block content %}
{% for order_data in order_data_list %}
<div class="row">
<div class="col-md-2">
  <h4><a href="{{url_for('single_order', id=order_data.order.id)}}">{{order_data.order.name}}</a></h4>
</div>
<div class="col-md-7">
<p>
  {% if not order_data.order.is_closed %}
    <a href="{{ url_for('edit_order', id=order_data.order.id) }}" class="btn btn-default" role="button">Edit</a>
  {% endif %}
  Order closed: {{format_date(order_data.order.close_date)}}.
  Delivery: {{format_date(order_data.order.delivery_date) or '? '}}.
</p>
<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="col-md-3"></th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
      </tr>
    </thead>
    {% for order_item in order_data.items %}
    {% if order_item.quantity > 0 %}
      <tr>
        <td>{{ order_item.item.name }}</td>
        <td>{{ order_item.quantity }}</td>
        <td>{{ format_currency(order_item.item.price * order_item.quantity) }}</td>
        <td>{{ render_payed(order_item.payed) }}</td>
      </tr>
    {% endif  %}
    {# Order item loop #}
    {% endfor %}
    {#
    Row for the total price
    #}
    <tr>
      <td>Total</td>
      <td>{{ order_data.quantity }}</td>
      <td>{{ format_currency(order_data.price) }}</td>
      <td></td>
    </tr>
  </table>
</div>
</div>
</div>
{# Loop over orders #}
{% endfor %}
{% endblock %}
