<!-- extend base layout -->
{% extends "base.html" %}
{% from "_macros.html" import render_payed %}

{% set active_page = "orders" %}

{% block content %}
<div class="row col-md-12">
{% if not order.is_closed %}
  <a href="{{ url_for('edit_order', id=order.id) }}" class="btn btn-default" role="button">Edit my order</a>
{% endif %}
</div>
<div class="row">
<div class="col-md-6">
<h4>Order Info</h4>
<div class="table-responsive">
<table class="table table-condensed">
  <thead>
    <th class="col-md-2"></th>
    <th class="col-md-4"></th>
  </thead>
  <tr>
    <td>Order</td>
    <td>{{order.name}}</td>
  </tr>
  <tr>
    <td>Date</td>
    <td>{{format_date(order.delivery_date)}}</td>
  </tr>
  <tr>
    <td>Items</td>
    <td>{{order.total_quantity}}</td>
  </tr>
  <tr>
    <td>Total Amount</td>
    <td>€ {{ format_currency(order.total_price) }}</td>
  </tr>
  <tr>
    <td>To be payed</td>
    <td>€ {{ format_currency(order.price_to_be_payed) }}</td>
  </tr>
  <tr>
    <td>Payed</td>
    <td>€ {{ format_currency(order.price_payed) }}</td>
  </tr>
  <tr>
    <td>Status</td>
    <td>
      {% if order.is_closed %}
        <span class="label label-warning">Closed</span>
      {% else %}
        <span class="label label-success">Open</span>
      {% endif %}
    </td>
  </tr>
</table>
</div>
</div>
<div class="col-md-6">
<h4>Items</h4>
<div class="table-responsive">
<table class="table table-condensed">
  <thead>
  <tr>
    <th class="col-md-4">Item</th>
    <th class="col-md-2">Quantity</th>
  </tr>
  </thead>
  {% for grouped_item in grouped_items %}
  <tr>
    <td>{{ grouped_item.name }}</td>
    <td>{{ grouped_item.quantity }}</td>
  </tr>
  {% endfor %}
</table>
</div>
</div>
</div>

<div class="row col-md-12">
<h4>Individual Orders</h4>
<div class="table-responsive">
<form class="form-horizontal" method="POST">
{{ form.csrf_token }}
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Customer</th>
      <th>Price (€)</th>
      <th>Status</th>
    </tr>
  </thead>
  {% for order_item in order_items %}
  <tr>
    <!--<td>{{ order_item.item.name }}</td>-->
      <td><div class="checkbox">
        <label><input type="checkbox" name="item_{{order_item.id}}" value="1">{{ order_item.item.name }}</label>
      </div></td>
    <td>{{ order_item.quantity }}</td>
    <td>{{ order_item.user.print_name()}}</td>
    <td>{{ format_currency(order_item.item.price * order_item.quantity) }}</td>
    <td>{{ render_payed(order_item.payed) }}</td>
  </tr>
  {% endfor %}
</table>
</form>
</div>
</div>
{% endblock %}
