<!-- extend base layout -->
{% extends "base.html" %}

{% set active_page = "order_lists" %}

{% block content %}
<div class="row">
<div class="col-md-6 col-md-offset-3">
<a href="{{ url_for('order_list_new') }}" class="btn btn-default" role="button">Create Order List</a>
<div class="table-responsive">
<table class="table table-condensed">
  <thead>
  <tr>
      <th class="col-md-1">Id</th>
      <th>Name</th>
  </tr>
  </thead>
  {% for list in lists %}
  <tr>
      <td>{{ list.id }}</td>
      <td><a href="{{url_for('single_order_list', id=list.id)}}">{{ list.name }}</a></td>
  </tr>
  {% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}
