<!-- extend base layout -->
{% extends "base.html" %}

{% set active_page = "order_lists" %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
<div class="row">
<h1>{{ list.name }}</h1>
<a href="{{ url_for('order_list_add_orders', id=list.id) }}" class="btn btn-default" role="button">Add Orders</a>
<h2>Orders</h2>
<div class="table-responsive">
<table class="table table-condensed">
  <thead>
  <tr>
      <th class="col-md-2">Name</th>
      <th class="col-md-1">Delivery</th>
      <th class="col-md-1">Closed</th>
      <th class="col-md-1">Status</th>
  </tr>
  </thead>
  {% for order in orders %}
  <tr>
      <td><a href="{{url_for('single_order', id=order.id)}}">{{order.name}}</a></td>
      <td>{{ format_date(order.delivery_date) }}</td>
      <td>{{ format_date(order.close_date) }}</td>
      <td>
        {% if order.is_closed %}
        <span class="label label-warning">Closed</span>
        {% else %}
        <span class="label label-success">Open</span>
        {% endif %}
      </td>
  </tr>
  {% endfor %}
</table>
</div>
</div>

<div class="row">
<h2>Customers</h2>
<div class="table-responsive">
<table class="table table-condensed">
  <thead>
    <tr>
      <th class="col-md-2">Customer</th>
      <th class="col-md-1">Items</th>
      <th class="col-md-1">Total (€)</th>
    </tr>
  </thead>
  {% for customer in customers %}
  {% if customer.quantity > 0 %}
  <tr>
    <td>{{ customer.User.print_name()}}</td>
    <td>{{ customer.quantity }}</td>

    <td>{{ format_currency(customer.total_price) }}</td>
  </tr>
  {% endif %}
  {% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}
